.footer {
    margin-top: 50px;
    background: #000;
    color: white;

    .copyright {
        margin-bottom: -80px;
        text-align: center;
        font-size: 15px;
        padding-bottom: 20px;

        .fa-heartbeat {
            color: red;
            font-size: 15px;
        }
    }

    hr {
        margin-top: 10px;
        background-color: #ccc;
    }

    h1 {
        font-size: 15px;
        margin: 25px 0;
    }

    p {
        font-size: 12px;
    }

    img {
        width: 150px;
    }

    .fa {
        padding-right: 20px;
        font-size: 15px;
    }
}
