.top-nav-bar {
    height: 57px;
    top: 0;
    position: sticky;
    background: #fff;
    margin-bottom: 20px;
    border-bottom: 3px solid orange;
    z-index: 2;

    .search-box {
        display: inline-flex;
        width: 60%;

        #menu-btn, #close-btn {
            font-size: 30px;
            margin: 10px;
            color: orange;
            display: none;
        }
        .logo {
            height: 40px;
            margin: 5px 10px;
        }

        .form-control {
            margin-top: 9px;
            margin-left: 30px;
            border: 1px solid orange;
            border-top-left-radius: 20px;
            border-bottom-left-radius: 20px;
            border-top-right-radius: 0;
            border-bottom-right-radius: 0;
            box-shadow: none;
        }

        .input-group-text {
            background: orange;
            border: 1px solid orange;
            margin: 8.5px 10px 0px 0;
            border-top-left-radius: 0;
            border-bottom-left-radius: 0;
            border-top-right-radius: 20px;
            border-bottom-right-radius: 20px;
            cursor: pointer;

            .fa-search {
                color: #fff;
            }
        }
    }
}
